@page "/admin"

@using System.ComponentModel
@using AntDesign.TableModels

@inject UserManager<IdentityUser> userManager
@inject ILogger<Admin> logger

<Table @ref="table"
       TItem="User"
       DataSource="@users"
       Total="total"
       @bind-PageIndex="pageIndex"
       @bind-PageSize="pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange"
>
    <Selection Key="@(context.Id)" />
    <Column @bind-Field="@context.Id" Sortable />
    <Column @bind-Field="@context.UserName" Sortable />
    <ActionColumn>
        <Space>
            <SpaceItem><Button Danger OnClick="()=>Delete(context.Id)">Delete</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>

<Button OnClick="()=> { pageIndex--; }">Previous page</Button>
<Button OnClick="()=> { pageIndex++; }">Next Page</Button>

@using System.Text.Json;
@using AntDesign
@using Microsoft.AspNetCore.Identity
@code {

    private User[] users;

    private IEnumerable<User> selectedRows;
    private ITable table;

    private int pageIndex = 1;
    private int pageSize = 10;
    private int total = 0;

    protected override async Task OnInitializedAsync()
    {
        users = await GetUsers(1, 50);
    }

    public class User
    {
        public string Id { get; set; }
        [DisplayName("User Name")]
        public string UserName { get; set; }
    }

    public async Task OnChange(QueryModel<User> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    public async Task<User[]> GetUsers(int pageIndex, int pageSize)
    {
        IQueryable<IdentityUser> userIdentities = userManager.Users;

        return userIdentities
            .Skip((pageIndex - 1) * pageSize)
            .Select(u => new User() {Id = u.Id, UserName = u.UserName})
            .Take(pageSize)
            .ToArray();
    }

    public void RemoveSelection(string id)
    {
        var selected = selectedRows.Where(x => !x.Id.Equals(id));
        selectedRows = selected;
    }

    private async void Delete(string id)
    {
        var user = userManager.Users.FirstOrDefault(u => u.Id.Equals(id));
        var result = await userManager.DeleteAsync(user);
        if (result.Succeeded)
        {
            logger.LogInformation("User is deleted");
        }
        users = users.Where(x => !x.Id.Equals(id)).ToArray();
        total = users.Length;
    }
}
