@using AntDesign.ProLayout
@using AntDesign
@using BlazorApp.Services
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Server.HttpSys
@inherits AntDomComponentBase

@inject UserManager<IdentityUser> userManager
@inject IHttpContextAccessor httpContextAccessor
@inject SignInManager<IdentityUser> signInManager
@inject TrackUserLogout trackUserLogout

<AuthorizeView Roles="admin">
    <a href="/admin">Admin</a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <Space>
            <SpaceItem><Button Danger OnClick="()=>FinishSessions(context.User.Identity.Name)">Block User</Button></SpaceItem>
        </Space>
        <p>Hello, @context.User.Identity?.Name!</p>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private async Task FinishSessions(string name)
    {
        var httpContext = httpContextAccessor.HttpContext;
        IdentityUser user = await userManager.FindByNameAsync(name);
        if (user != null)
        {
            await userManager.UpdateSecurityStampAsync(user);
            trackUserLogout.OnUserOut(user.UserName);
        }
    }
}
